:root {
  --button-color: 49, 69, 158;
  --button-font-color: 255, 255, 255;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-back {
  /* FIX: Background expand to full screen if its bigger than content */
  display: flex;
  justify-content: center;
  background-color: #434749;
}

.business-card {
  width: 500px;
  margin: 50px;
}

.business-card > div {
  min-width: 250px;
}

.profile-picture {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(101, 104, 114, 0)),
    url(./images/profile_picture.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  aspect-ratio: 1/1;
}

.profile-back {
  background: #222c38;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile-title {
  font-size: clamp(2rem, 10vw, 3.8rem);
}

.profile-title > h1 {
  color: azure;
  text-align: center;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 0;
}

.profile-title > h3 {
  color: #3581d8;
  text-align: center;
  font-size: 0.335em;
  margin-top: 5px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* Here I use % margins and aspect-ratio
  to keep the buttons sizing consistent*/
  margin: 1% 4% 0 4%;
  aspect-ratio: 7/1;
}

.btn {
  position: relative; /* This is that the ::before can reference the button with absolute*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  width: 100%;
  margin: 0 3% 0 3%;
  border-width: 0.25em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: rgb(var(--button-color));
  background-color: transparent;
  cursor: pointer;
  padding: 1% 1% 1% 1%;

  font-family: Arial;
  font-size: clamp(10px, 3vw, 19px);
  font-weight: bold;
  color: rgb(var(--button-font-color));
}

.btn:active {
  background-color: rgba(var(--button-color), 0.3);
}

.btn.animation {
  transition: color 200ms; /* If we hover we want to change the color via an animation*/
  z-index: 1; /*This is for the text to lay over the ::before element*/
}

.btn.animation:hover {
  color: rgb(var(--button-color));
}

.btn.animation::before {
  /* The idea is to have an element to sit on top of the button
   and change when the botton is hovered. This is possible since
  ::before elements are directly tied to the object*/
  content: "";
  background-color: rgb(var(--button-color));
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  /*For the Annimation Part*/
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 300ms;
}

.btn.animation:hover::before {
  /*What happens to the before element when the button is hovered,
  since the ::before element is not an object itself.*/
  transform: scaleY(0);
}

.linkedin {
  --button-color: 80, 147, 226;
}

.contact {
  --button-color: 96, 103, 136;
}

/*******************/

.profile-description {
  margin: 3% 7.5%;
}

.profile-description > * {
  color: #adc8e6;
}

.infos > li {
  margin: 5px 0 5px 0;
}

.profile-links {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  background: #162536;
  border-radius: 0px 0px 15px 15px;
}

.social-links {
  font-size: clamp(2rem, 8vw, 3rem);
  margin: 4% 2%;
}

.social-links:hover {
  color: #576291;
}

.social-links:active {
  color: #57629196;
}
